@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

html, body{
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden !important;
}
:root {
    --font-primary: 'Baloo 2', 'cursive', sans-serif;
    --font-action: 'Mulish', sans-serif;
}
body{
  position: relative;
  font-size: 18px;
  min-width: 320px; 
}
h1, h2, h4, h5{
  font-family: 'Monoton', cursiva;
}
header {
    position: relative;
    width: 100%;
    height: 100vh;
}
.logo{
    display: block;
    float: left;
    position: absolute;
    object-position: center;
    z-index: 99;
    top: 15%;
    left: 7%;
}
.logo h1{
    max-width:330px;
    float:right;
    font-size: 2.5rem;
    color:gold;
}
.logo img{
    width: 250px;
}
.envelopamento {
    overflow: hidden;
}
.envelopamento img {
    display: block;
    object-position: center;
    height: 100vh;
    animation: zoom 25s;
}
@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
nav{
    text-align: right;
    background-color: rgba(15, 151, 33, 0.514);
}
nav> a{
    font-family: 'Baloo 2', 'cursive', sans-serif;
    margin: 5px 10px 0 0;
    font-size: 1rem;
    color: black;
    font-weight: 400;
    border-left: 2px solid gold;
    padding-left: 7px;
    text-decoration: none;
    transition: .2s ease-in;
}
nav> a:hover{
    color: #3638be;
}
main{
    position: relative;
    display: block;
    text-align: center;
}
main h2{
  margin-top: 40px;
}
h2, h3, h4, h5{
    letter-spacing: 2px;
}
main p{
    font-family: var(--font-primary);
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 20px;
}
.meuSlide{
    margin-top: 50px;
    max-width: 700px;
}
.tap{
    width: auto;
}
.slide {
    max-width: 700px;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
  }
.numerotexto {
    color: #4345c2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .7s ease;
  }
  .acao {
    background-color: rgba(15, 151, 33, 0.514);
  }
  .tap {
    -webkit-animation-name: tap;
    -webkit-animation-duration: 1.5s;
    animation-name: tap;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes tap {
    from {opacity: .3} 
    to {opacity: 1}
  }
  @keyframes tap {
    from {opacity: .3} 
    to {opacity: 1}
  }
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .servicos{
    position: relative;
    float: left;
    max-width: 1200px;
    left: 5%;
    right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .servicos i{
    font-size: 1.5rem;
  }
  .quadro{
    margin-top: 10px;
    border-radius: 15px;
    float: left;
    width: 33%;
    height: 275px;
  }
  .quadro img{
    border: 3px solid rgba(15, 151, 33, 0.514);
    border-radius: 15px;
    width: 97%;
    height: auto;
    transition: .3s ease-in;
  }
  .quadro p{
    width: 90%;
    margin-bottom: 5px;
    padding: 3px;
  }
  .quadro img:hover{
    transform: scale(1.1);
    border: 2px solid gold;
  }
  section .depoimentos{
    display: inherit;
    max-width: 1000px;
    height: auto;
    margin-bottom: 100px;
  }
  .depoimentos h4{
    clear: both;
  }
  .areaSlide{
    max-width: 800px;
    margin: 5px auto;
  }
  .areaSlide img{
    width: 150px;
  }
  .borda{
    border: 1px solid #4345c2;
    border-radius: 15px;
    margin: 10px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
  }
  div.redesocial{
    height: auto;
    clear: both;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  .redesocial h4{
    margin-top: 50px;
  }
  .redesocial i{
    color: #4345c2;
    font-size: 2rem;
    transition: .1s ease-in;
  }
  .redesocial i:hover{
    color: black;
  }
  .endereco{
    display: block;
    margin: 50px auto;
    padding: 5px;
  }
  .endereco h4, address{
    text-align: center;
  }
  .endereco address{
    font-size: medium;
  }
  .endereco iframe{
    margin-top: 5px;
    width: 500px;
    height: 300px;
    border: 1px solid #3638be;
    border-radius: 7px;
    display: inherit;
    margin: 10px auto;
  }
  aside{
    width: 100%;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(15, 151, 33, 0.514);
    border-bottom: 1px solid gold;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  aside h4{
    font-size: 1rem;
  }
  .contato{
    padding: 7px;
  }
  .contato a{
    color: #4345c2;
    text-decoration: none;
    min-width: 390px;
  }
  .contato a:hover{
    color: black;
  }
  .contato i{
    margin-right: 5px;
    color: #4345c2;
  }
  footer{
    padding: 10px 5px;
    font-family: var(--font-primary);
    text-align: center;
    background-color: rgba(15, 151, 33, 0.514);
  }
  .whatsapp{
    position: fixed;
    right: -150px;
    bottom: 10px;
  }
  
@media (max-width: 750px) {
  .servicos{
    display: block;
    float: none;
  }
  .quadro{
    float: none;
    width: 90%;
    height: 100%;
  }
  .quadro img{
    max-width: 450px;
  }
  .quadro h5{
    padding-top: 10px;
  }
  .endereco iframe{
    width: 80%;
    height: 240px;
  }
}